@import "../common/animate.scss";
.XM-photos-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  padding: 100px;
}
.XM-show-photos {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10000;
  .show-image {
    max-width: 600px;
    max-height: 600px;
  }
  &:hover .arr, &:hover .photo-info{
    display: block;
  }
  .arr {
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border: 5px solid #ffffff;
    border-radius: 4px;
  }
  .arr-left {
    left: 10px;
    border-top: none;
    border-right: none;
  }
  .arr-right {
    right: 10px;
    border-left: none;
    border-bottom: none;
  }
  .photo-info {
    display: none;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    .photo-index {
      margin-left: 10px;
    }
  }
}
