@import "../common/animate.scss";
#XM-mask{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

#XM-dialog {
  position: fixed;
  top: 35%;
  left: 50%;
  margin-left: -130px;
  box-sizing: border-box;
  width: 260px;
  padding: 20px 13px 13px;
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-animation:bounceIn 0.3s;
  -o-animation:bounceIn 0.3s;
  animation:bounceIn 0.3s;
  .title {
    font-size: 14px;
    color: #333333;
  }

  .btns {
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
  }

  .btn {
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
  }

  .btn-cancel {
    float: left;
    color: #999999;
    background-color: #ffffff;
    border: 1px solid #dddddd;
  }

  .btn-ok {
    float: right;
    color: white;
    background-color: #ff9800;
  }

  .btn-know {
    width: 100%;
    color: white;
    background-color: #40AFFE;
  }
}

