@import "../common/animate.scss";

.XM-tips {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  color: #ffffff;
  background-color: #40AFFE;
  border-radius: 2px;
  -webkit-animation: bounceIn 0.5s;
  -o-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s;
  .triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
  }
  &.hide {
    opacity: 0;
    -webkit-animation: bounceOut 0.5s;
    -o-animation: bounceOut 0.5s;
    animation: bounceOut 0.5s;
  }
}
