#XM-loading {
  text-align: center;
  /*text-indent: -20px;*/
  font-size: 60px;
  height: 60px;
  line-height: 30px;
  color: #f2f2f2;
  -webkit-animation: dotting 2s infinite;
  -o-animation: dotting 2s infinite;
  animation: dotting 2s infinite;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s; }
  #XM-loading.hide {
    height: 0;
    overflow: hidden; }

@-webkit-keyframes dotting {
  0% {
    text-shadow: 0 0 0 currentColor; }
  33% {
    text-shadow: -20px 0 0 currentColor; }
  66% {
    text-shadow: -20px 0 0 #f2f2f2, 20px 0 0 currentColor; }
  100% {
    text-shadow: 0px 0 0 currentColor; } }

@-moz-keyframes dotting {
  0% {
    text-shadow: 0 0 0 currentColor; }
  33% {
    text-shadow: -20px 0 0 currentColor; }
  66% {
    text-shadow: -20px 0 0 #f2f2f2, 20px 0 0 currentColor; }
  100% {
    text-shadow: 0px 0 0 currentColor; } }

@-o-keyframes dotting {
  0% {
    text-shadow: 0 0 0 currentColor; }
  33% {
    text-shadow: -20px 0 0 currentColor; }
  66% {
    text-shadow: -20px 0 0 #f2f2f2, 20px 0 0 currentColor; }
  100% {
    text-shadow: 0px 0 0 currentColor; } }

@-ms-keyframes dotting {
  0% {
    text-shadow: 0 0 0 currentColor; }
  33% {
    text-shadow: -20px 0 0 currentColor; }
  66% {
    text-shadow: -20px 0 0 #f2f2f2, 20px 0 0 currentColor; }
  100% {
    text-shadow: 0px 0 0 currentColor; } }

@keyframes dotting {
  0% {
    text-shadow: 0 0 0 currentColor; }
  33% {
    text-shadow: -20px 0 0 currentColor; }
  66% {
    text-shadow: -20px 0 0 #f2f2f2, 20px 0 0 currentColor; }
  100% {
    text-shadow: 0px 0 0 currentColor; } }
