.J_remind{
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}
.J_refresh,.J_loading{
  color: #555555;
}
.J_loading{
  span{
    overflow: hidden;
    display: inline-block;
    width: 15px;
    text-indent:-3px;
    text-align: center;
    vertical-align: bottom;
    -webkit-animation:dotting 2s infinite;
    -o-animation:dotting 2s infinite;
    animation:dotting 2s infinite;

  }
  @-webkit-keyframes dotting {
    0%{
      text-shadow: 0em 0 0 currentColor;
    }
    25%{
      text-shadow: 5px 0 0 currentColor;
    }
    50%{
      text-shadow: 5px 0 0 currentColor,10px 0 0 currentColor;
    }
    75%{
      text-shadow: 5px 0 0 currentColor,10px 0 0 currentColor,15px 0 0 currentColor;
    }
    100%{
      text-shadow: 0em 0 0 currentColor;
    }
  }
  @keyframes dotting{
    0%{
      text-shadow: 0em 0 0 currentColor;
    }
    25%{
      text-shadow: 5px 0 0 currentColor;
    }
    50%{
      text-shadow: 5px 0 0 currentColor,10px 0 0 currentColor;
    }
    75%{
      text-shadow: 5px 0 0 currentColor,10px 0 0 currentColor,15px 0 0 currentColor;
    }
    100%{
      text-shadow: 0em 0 0 currentColor;
    }
  }
}